{
    "extends": "standard",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "plugins": [
        "standard"
    ],
    "globals": {
        "describe": true,
        "it": true,
        "beforeEach": true,
        "before": true,
        "afterEach": true,
        "after": true
    },
    "rules":{
        "no-unused-expressions": "off"
    }
}
